logs/cloudhrd.app.access.log
logs/cloudhrd.app.error.log
logs/cloudhrd.marketing.access.log
logs/cloudhrd.marketing.error.log
logs/cloudhrd.register.access.log
logs/cloudhrd.register.error.log
web/app/app/storage/clockwork/*.json
.DS_Store
vendor/
